<div class="card">
  <div class="card-header">Empleados</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <!--recorrer el json de empleados-->
          <tr *ngFor="let itemEmp of Empleados; let iControl = index">
            <td>{{ itemEmp.id }}</td>
            <td>{{ itemEmp.nombre }}</td>
            <td>{{ itemEmp.correo }}</td>
            <td>
              <a
                class="btn btn-info"
                routerLink="/editar-empleado/{{ itemEmp.id }}"
                >Editar</a
              > |
              <!--el primer id es para borrar el registro en la BD el segundo para eliminar la fila de la vista tabla-->
              <a class="btn btn-danger" (click)="borrarRegistro(itemEmp.id,iControl)" role="button">Borrar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-muted">Footer</div>
</div>
