<div class="card">
    <div class="card-header">Editar empleado</div>
    <div class="card-body">
      <form action="">
        <div class="mb-3">
          <label for="" class="form-label">Nombre:</label>
          <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="Escribe tu nombre"
          />
          <small id="helpId" class="form-text text-muted">Escribelo bien</small>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Correo:</label>
          <input
            type="email"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="Escribe tu correo"
          />
          <small id="helpId" class="form-text text-muted">correo de empleado</small>
        </div>
  
        <div class="btn-group" role="group" aria-label="Button group name">
          <button type="button" class="btn btn-success">Agregar</button>
          <button type="button" class="btn btn-danger">Cancelar</button>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted">Footer</div>
  </div>
  